@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

:root {
    --text-color: whitesmoke;
    --fonts: "cal sans", sans-serif;;
    --text-color-hover: black;
    --background-black: #121212;
    --background-white: #whitesmoke;
}

*{
    font-family: var(--fonts);
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
    transition: all ease 900ms;
} 

body{
    background-color:var( --background-white);
}

header{
    background: var(--background-black);
    padding: 2em 0;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header a{
    color:var(--text-color);
    text-decoration: none;
}

p, button{
    font-family: verdana;
    font-size: larger;
}

.centered-container{
    justify-content: center;
    align-items: center;
}

.hover-effect {
    transform: scale(1);
	transition: all ease 300ms;
}
.hover-effect:hover {
    transform: scale(1.2);
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--text-color);
    background-image: url("../images/middle-split.jpg");
    background-position:center 59%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 67vh;
    margin:0;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
}

#txt-about-me {
    text-align: justify;
    width:700px;
}

#txt-about-me > *{
    padding: 1.5rem;

}

#img-card {
    overflow: hidden;
	border-radius: 20px;
    height: 350px;
    width: 350px;
	cursor: pointer;
}

#img-card img{
    object-fit: cover;
    object-position: center 30%; 
    border-radius: 10px;
    width: 100%;
    height: 100%;
    bottom: -200px;
}

#roadmaps{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color:var(--text-color);
    background-image: url("../images/top-poses.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 95vh;
    margin:0;
}

button{
    cursor: pointer;
    background-color: var(--text-color);
    border-radius: 10px;
    width:14rem;
    height:2rem;
}

footer{
    display:flex;
    justify-content: center;
    background: var(--background-black);
    color:var(--text-color);
    padding: 2em;
}


#contacts {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#contacts a img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

/* MOBILE RESPONSIVO */
@media screen and (max-width: 768px) {
    body{
        font-size: 0.7rem;
    }

    header ul {
        align-items: center;
        gap: 1em;
    }

    #banner {
        background-size: cover;
        min-height: 30vh;
    }

    #banner .centered-container{
        margin-top: 3rem;
    }

    #about-me {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    #txt-about-me {
        width: 90%;
    }

    #img-card {
        width: 80%;
        height: auto;
        max-width: 300px;
    }

    #roadmaps {
        background-size:contain;
        flex-direction: column;
        min-height: 35.1vh;
    }

     #roadmaps button {
        max-width: 150px;
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    #contacts {
        flex-wrap: wrap;
        gap: 10px;
    }

    #contacts a img {
        width: 24px;
        height: 24px;
    }
}
